body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  color: aliceblue;
}

main {
  text-align: center;
  background-color: #333333;
  padding: 10vh;
  border-radius: 10px;
}

#value {
  font-size: 50px;
}

button {
  font-size: 20px;
  margin: 20px;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: aliceblue;
}

button:hover{
    background-color: #9f9f9f;
    cursor: pointer;
}


